<h3 ng-hide="ranking.length == 0">
  Trilha: {{ track.name_pt }} ({{ getRanking().length }} propostas)
  <small>marcadas = {{ totalMarked() }}</small>
</h3>

<table class="table  table-striped" ng-hide="ranking.length == 0">
  <col class="id" />
  <col class="tags" />
  <col class="status" />
  <col class="global" />
  <col class="track" />
  <col class="title" />
  <col class="authors" />
  <col class="actions" />
  <thead>
    <tr>
      <th translate>Id</th>
      <th translate>Tags</th>
      <th translate>Status</th>
      <th translate>Ordem global</th>
      <th translate>Ordem trilha</th>
      <th translate>Título</th>
      <th translate>Autores</th>
      <th translate>Ações</th>
    </tr>
  </thead>
  <tr ng-repeat="ranked in getRanking()">
    <td class="id">{{ ranked.id }}</td>
    <td>
      <p class="tag {{tag}}" ng-repeat="tag in ranked.tags">{{ tag }}</p>
    </td>
    <td>
	   <span class="status {{ranked.status}}">{{ ranked.status }}</span>
    </td>
    <td >{{ ranked.ranking }}</td>
    <td class="track">
      <span ng-show="ranked.ranking == 0" translate>pré-selecionado</span>
      <span ng-hide="ranked.ranking == 0">{{ $index+1 }}º
    </td>
    <td>
      <a ui-sref="proposals.detail({id: ranked.id})" target="blank_">
        {{ ranked.title }}
      </a>
    </td>
    <td>
      {{ ranked.author }}
    </td>
    <td class="actions">
        <button class="btn btn-default" ng-show="!isMarked(ranked)"
              ng-click="tagAs(ranked, 'marked-3')" translate>Marcar chamada 3</button>
        <button class="btn btn-default" ng-show="isMarked(ranked)"
              ng-click="untag(ranked, 'marked-3')" translate>Remover marcação</button>
    </td>
  </tr>
</table>
