<h2 class="page-header" translate>Buscar código promocional</h2>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active" translate>Códigos promocionais</li>
</ol>


<form class="form">

  <div class="row">
  <label>
    <span translate>Hash ou descrição:</span>
  </label>
  <input type="text"
         class="form-control"
         ng-model="query.needle" focusable
         ui-keypress="{ 'enter': 'doSearch()' }"/>
</form>

<hr>

<h4 translate>
  Total de códigos encontrados: {{ promocodes.length }}
</h4>
<hr>

<table class="table table-responsive table-striped" ng-hide="promocodes.length == 0">
  <thead>
    <tr>
      <th translate>id</th>
      <th translate>hash</th>
      <th translate>desconto</th>
      <th translate>descrição</th>
      <th translate>produto</th>
      <th translate>usado por...</th>
      <th translate>criador</th>
    </tr>
  </thead>
  <tr ng-repeat="promocode in promocodes | orderBy:'description'">
    <td class="id">{{ promocode.id }}</td>
    <td class="hash_code">{{ promocode.hash_code }}</td>
    <td class="discount">{{ promocode.discount | number }}%</td>
    <td class="description">{{ promocode.description }}</td>
    <td class="product">{{ promocode.product.description }}</td>
    <td class="status">
      <span ng-show="promocode.spent_with" class="id">{{ promocode.spent_with.id }}</span>
      <span ng-show="promocode.spent_with" class="name">
        <a ui-sref="accounts.by_purchase({ id: promocode.spent_with.id })">{{ promocode.spent_with.name }}</a>
      </span>
      <span ng-hide="promocode.spent_with" class="available">
        disponível
      </span>
    </td>
    <td class="creator">
      {{ promocode.creator }}
    </td>
  </tr>
</table>
