<ul class="nav nav-tabs">
  <li ng-repeat="day in days" ng-class="{active:currentDay == day}">
    <a ui-sref="schedule.grid({day: day})">Dia {{day | amDateFormat: 'DD-MM'}}</a>
  </li>
</ul>
<div class="table-responsive">

  <table class="table schedule">

    <thead>
      <tr>
        <th>Sala\Hora</th>
        <td ng-repeat="time in eventTimes"
                colspan="{ true: '3', false, '1'}[isOneHourEvent(time)]">
            <span ng-bind="time"></span>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="room in rooms">
            <th>
                <span class="small" ng-bind="room.name"></span>
            </th>

            <td ng-repeat="slot in slotsOfRoom[room.id]"
                ng-class="{'empty':'', 'dirty':'info', 'confirmed':'success', 'pending':'warning'}[slot.status]"
                ng-click="editSlot(room, slot)"
                colspan="{{slot.duration / 20 }}">

                <div ng-show="!slot.talk"></div>

                <div class="row-fluid" ng-show="slot.talk">
                  <div class="col-sm-11 schedule-col">
                    <span class="small">
                      <strong>
                        <i class="fa fa-newspaper-o"></i>
                        <span class="schedule-title" ng-bind="slot.talk.title"></span>
                      </strong>
                    </span>
                  </div>

                  <div class="col-sm-1 schedule-col" ng-show="slot.blocked">
                    <strong>
                      <i class="fa fa-lock" aria-hidden="true"></i>
                    </strong>
                  </div>
                </div>

                <div class="row-fluid" ng-show="slot.talk">
                   <div class="col-sm-12 schedule-col">
                     <span class="small">
                      <i class="fa fa-user"></i>
                      <span ng-bind="slot.talk.owner"></span>
                     </span>
                   </div>
                </div>
            </td>
       </tr>
    </tbody>
  </table>

</div>
